<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='css/mystyle.css' rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <fieldset>
          <a href="http://153.9.5.202:3000"> main page </a>
          <form action="/step1" method="post">
             <input id="frmTag1" name="frmTag1" type="text" placeholder="search for html tag">
             <input id="frmTag2" name="frmTag2" type="text" placeholder="search for second html tag">
             <input id="frmUrl" name="frmUrl" type="text" size="30" placeholder="your url here">
             <input type="submit" value="step 1, fetch all urls">
          </form>
          <form action="/step2" method="post">
             <input id="frmUrl" name="frmUrl" type="text" size="70" placeholder="your url here">
             <input type="submit" value="step 2, download urls and create file">
          </form>
      </fieldset>
    </div>
    <br>
    <%- table %>
  </body>
</html>
