<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='css/mystyle.css' rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <fieldset>
          <a href="http://153.9.5.202:3000"> main page </a>
          <form action="/" method="post">
             <input type="submit" value="Main page">
          </form>
          <form action="/step1" method="post">
             <input type="submit" value="Step 1, load HTML page">
             <input id="frmUrl" name="frmUrl" type="text" placeholder="Place your url here">
          </form>
          <form action="/step2" method="post">
             <input type="submit" value="Step 2, fetch URL from page">
             <input id="frmTag1" name="frmTag1" type="text" placeholder="default LI">
             <input id="frmTag2" name="frmTag2" type="text" placeholder="default UL">
             <input id="frmTag3" name="frmTag3" type="text" placeholder="domain (ie. http://www.x.com)">
          </form>
          <form action="/step3" method="post">
             <input type="submit" value="Step 3, transform URL into JSON files">
          </form>
      </fieldset>
    </div>
    <br>
    <%- table %>
  </body>
</html>
